<header>
	<div class="display-wrap">
		<div class="grid g-cols">
			<div class="g-col-12">
				<h1 class="title lh-title white">What's New?</h1>
			</div>
	</div>
</header>
<div class="display-wrap body">
		<% @change_days.each do |day, changes| %>
		<div class="change--day">
			<p class="fs-5 lh-5"><strong><%= day.strftime("%B %d, %Y") %></strong></p>
			<table class="style1">
			<% changes.each do |change| %>
			
				<tr>
					<td><%=raw change.description %></td>
				</tr>
			
			<% end %>
			</table>
		</div>
		<% end %>
		
</div>