<header>
		<div class="display-wrap">
			<h1 class="text_color-white">Colors</h1>
			<p class="text_size-5 text_color-ocean--40">
				The ActiveCampaign color palettes are used throughout our products and marketing material. They are composed of two separate palettes. Our primary palette contains key colors that make up our brand. Our secondary palette includes bright, bold colors to help compliment our main brand colors.
			</p>
		</div>
	</header>
<section>
	<div class="display-wrap">
		<h5>Primary Palette</h5>
		<div class="color-palettes row">
			<div class="palette col-xs">
				<div class="swatch main bg-ocean-100">
					<div class="text_color-white text_size-3"><strong>Ocean</strong></div>
					<span class="text_color-white">#356AE6</span>
					<span class="text_color-white level">100</span>
				</div>
				<div class="swatch bg-ocean-120">
					<span class="text_color-white">#123B99</span>
					<span class="text_color-white level">120</span>
				</div>
				<div class="swatch bg-ocean-80">
					<span class="text_color-white">#5884EA</span>
					<span class="text_color-white level">80</span>
				</div>
				<div class="swatch bg-ocean-60">
					<span class="text_color-white">#9EB7F3</span>
					<span class="text_color-white level">60</span>
				</div>
				<div class="swatch bg-ocean-40">
					<span class="">#E3EBFC</span>
					<span class="level">40</span>
				</div>
				<div class="swatch bg-ocean-20 last">
					<span class="">#FAFBFF</span>
					<span class="level">20</span>
				</div>
			</div>
			<div class="palette col-xs">
				<div class="swatch main bg-slate-100">
					<div class="text_color-white text_size-3"><strong>Slate</strong></div>
					<span class="text_color-white">#4E5468</span>
					<span class="text_color-white level">100</span>
				</div>
				<div class="swatch bg-slate-120">
					<span class="text_color-white">#1F2129</span>
					<span class="text_color-white level">120</span>
				</div>
				<div class="swatch bg-slate-80">
					<span class="text_color-white">#5F667E</span>
					<span class="text_color-white level">80</span>
				</div>
				<div class="swatch bg-slate-60">
					<span class="text_color-white">#9298AD</span>
					<span class="text_color-white level">60</span>
				</div>
				<div class="swatch bg-slate-40">
					<span class="">#CED3E0</span>
					<span class="level">40</span>
				</div>
				<div class="swatch bg-slate-20 last">
					<span class="">#F7F9FF</span>
					<span class="level">20</span>
				</div>
			</div>
			<div class="palette col-xs">
				<div class="swatch main bg-mint-100">
					<div class="text_color-white text_size-3"><strong>Mint</strong></div>
					<span class="text_color-white">#19CCA3</span>
					<span class="text_color-white level">100</span>
				</div>
				<div class="swatch bg-mint-120">
					<span class="text_color-white">#139879</span>
					<span class="text_color-white level">120</span>
				</div>
				<div class="swatch bg-mint-80">
					<span class="text_color-white">#1BDDB1</span>
					<span class="text_color-white level">80</span>
				</div>
				<div class="swatch bg-mint-60">
					<span class="text_color-white">#6AE6C9</span>
					<span class="text_color-white level">60</span>
				</div>
				<div class="swatch bg-mint-40">
					<span class="">#B6F2E4</span>
					<span class="level">40</span>
				</div>
				<div class="swatch bg-mint-20 last">
					<span class="">#EBFFFA</span>
					<span class="level">20</span>
				</div>
			</div>
			<div class="palette col-xs">&nbsp;</div>
		</div>
		<h5>Secondary Palette</h5>
		<div class="color-palettes row">
			<div class="palette col-xs">
				<div class="swatch main bg-strawberry-100">
					<div class="text_color-white text_size-3"><strong>Strawberry</strong></div>
					<span class="text_color-white">#F3376B</span>
					<span class="text_color-white level">100</span>
				</div>
				<div class="swatch bg-strawberry-120">
					<span class="text_color-white">#D60D46</span>
					<span class="text_color-white level">120</span>
				</div>
				<div class="swatch bg-strawberry-80">
					<span class="text_color-white">#F56E94</span>
					<span class="text_color-white level">80</span>
				</div>
				<div class="swatch bg-strawberry-60">
					<span class="text_color-white">#FAA5BD</span>
					<span class="text_color-white level">60</span>
				</div>
				<div class="swatch bg-strawberry-40">
					<span class="">#FCDEE7</span>
					<span class="level">40</span>
				</div>
				<div class="swatch bg-strawberry-20 last">
					<span class="">#FFF2F6</span>
					<span class="level">20</span>
				</div>
			</div>
			<div class="palette col-xs">
				<div class="swatch main bg-creamsicle-100">
					<div class="text_color-white text_size-3"><strong>Creamsicle</strong></div>
					<span class="text_color-white">#FF8730</span>
					<span class="text_color-white level">100</span>
				</div>
				<div class="swatch bg-creamsicle-120">
					<span class="text_color-white">#E66000</span>
					<span class="text_color-white level">120</span>
				</div>
				<div class="swatch bg-creamsicle-80">
					<span class="text_color-white">#FFA869</span>
					<span class="text_color-white level">80</span>
				</div>
				<div class="swatch bg-creamsicle-60">
					<span class="text_color-white">#FFBF90</span>
					<span class="text_color-white level">60</span>
				</div>
				<div class="swatch bg-creamsicle-40">
					<span class="">#FFE1CB</span>
					<span class="level">40</span>
				</div>
				<div class="swatch bg-creamsicle-20 last">
					<span class="">#FFF8F2</span>
					<span class="level">20</span>
				</div>
			</div>
			<div class="palette col-xs">
				<div class="swatch main bg-lavender-100">
					<div class="text_color-white text_size-3"><strong>Lavender</strong></div>
					<span class="text_color-white">#9159FC</span>
					<span class="text_color-white level">100</span>
				</div>
				<div class="swatch bg-lavender-120">
					<span class="text_color-white">#6F2FED</span>
					<span class="text_color-white level">120</span>
				</div>
				<div class="swatch bg-lavender-80">
					<span class="text_color-white">#AA81FC</span>
					<span class="text_color-white level">80</span>
				</div>
				<div class="swatch bg-lavender-60">
					<span class="text_color-white">#C3A7FC</span>
					<span class="text_color-white level">60</span>
				</div>
				<div class="swatch bg-lavender-40">
					<span class="">#EAE0FE</span>
					<span class="level">40</span>
				</div>
				<div class="swatch bg-lavender-20 last">
					<span class="">#F7F2FF</span>
					<span class="level">20</span>
				</div>
			</div>
			<div class="palette col-xs">
				<div class="swatch main bg-banana-100">
					<div class="text_color-white text_size-3"><strong>Banana</strong></div>
					<span class="text_color-white">#FACF3F</span>
					<span class="text_color-white level">100</span>
				</div>
				<div class="swatch bg-banana-120">
					<span class="text_color-white">#DEAA00</span>
					<span class="text_color-white level">120</span>
				</div>
				<div class="swatch bg-banana-80">
					<span class="text_color-white">#FBD965</span>
					<span class="text_color-white level">80</span>
				</div>
				<div class="swatch bg-banana-60">
					<span class="text_color-white">#FCE28B</span>
					<span class="text_color-white level">60</span>
				</div>
				<div class="swatch bg-banana-40">
					<span class="">#FDECB2</span>
					<span class="level">40</span>
				</div>
				<div class="swatch bg-banana-20 last">
					<span class="">#FFF9E6</span>
					<span class="level">20</span>
				</div>
			</div>
		</div>
	</div>
</section>

