<div class="display-wrap">
	<div class="row pb10">
		<div class="col-xs-12">
			<h5>Email Signatures</h5>
			<p class="text_size-4">
			Using our email templates allows us to maintain a consistent brand presence across the company. If you are interacting with many outside the company, this is an important asset. This allows people to see your info and interact with you according. If you are in sales or support, customers can directly schedule a call with you.
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<p class="text_size-5 pb4"><strong>Examples</strong></p>
			<p class="text_size-2 lead-in text_color-lightest">Full Signature</p>
			<div class="container bordered pb5">
				<div>--</div>
				<br/>
				<table style="border-spacing: 0;">
				<tr>
				<td valign="top"><img src="https://d226aj4ao1t61q.cloudfront.net/cy3nisxfd_ac_logo-circle.png" style="margin-right:12px;"/></td>
				<td valign="top">
				<div style="line-height: 1.1em;">
				<div style="font-family:Helvetica, sans-serif;color:#356AE6;font-size: 14px;font-weight:bold;">John Doe</div>
				<div style="font-family:Helvetica, sans-serif;color:#5F667E;font-size: 13px;margin-bottom:6px;">ActiveCampaign / Sales Manager</div>
				<div style="font-family:Helvetica, sans-serif;font-size:13px;color:#5F667E;">(555) 555-5555</div>
				<div style="font-family:Helvetica, sans-serif;font-size:13px;color:#5F667E;">jdoe@activecampaign.com</div>
				<div style="font-family:Helvetica, sans-serif;font-size:13px;color:#5F667E;padding-bottom:6px"><span class="removeappleLink">1 North Dearborn St Suite 500, Chicago IL, 60602</span></div>
				<a href="https://www.facebook.com/activecampaign"><img src="https://d226aj4ao1t61q.cloudfront.net/ys2h3to2m_email-facebook.png" /></a>
				<a href="http://www.twitter.com/activecampaign"><img src="https://d226aj4ao1t61q.cloudfront.net/tc3x0kcsn_email-twitter.png" /></a>
				<a href="https://www.linkedin.com/company/activecampaign-inc-"><img src="https://d226aj4ao1t61q.cloudfront.net/y1t0ztxcr_email-linkedin.png" /></a>
				<a href="https://plus.google.com/107063868317743606466"><img src="https://d226aj4ao1t61q.cloudfront.net/j14l6ck9n_email-google.png" /></a>
				<a href="#"><img src="https://d226aj4ao1t61q.cloudfront.net/9zaenlw7_email-call.png" /></a>
				</td>
				</tr>
				</table>

				<style type="text/css">
				.removeappleLink a {color: #7b7b7b !important; text-decoration: none;}
				</style>
			</div>

<%= raw markdown(<<-'EOF'
```html
<br/>
<br/>
<div>--</div>
<br/>
<table style="border-spacing: 0;">
<tr>
<td valign="top"><img src="https://d226aj4ao1t61q.cloudfront.net/cy3nisxfd_ac_logo-circle.png" style="margin-right:12px;"/></td>
<td valign="top">
<div style="line-height: 1.1em;">
<div style="font-family:Helvetica, sans-serif;color:#356AE6;font-size: 14px;font-weight:bold;">John Doe</div>
<div style="font-family:Helvetica, sans-serif;color:#5F667E;font-size: 13px;margin-bottom:6px;">ActiveCampaign / Sales Manager</div>
<div style="font-family:Helvetica, sans-serif;font-size:13px;color:#5F667E;">(555) 555-5555</div>
<div style="font-family:Helvetica, sans-serif;font-size:13px;color:#5F667E;">jdoe@activecampaign.com</div>
<div style="font-family:Helvetica, sans-serif;font-size:13px;color:#5F667E;padding-bottom:6px"><span class="removeappleLink">1 North Dearborn St Suite 500, Chicago IL, 60602</span></div>
<a href="https://www.facebook.com/activecampaign"><img src="https://d226aj4ao1t61q.cloudfront.net/ys2h3to2m_email-facebook.png" /></a>
<a href="http://www.twitter.com/activecampaign"><img src="https://d226aj4ao1t61q.cloudfront.net/tc3x0kcsn_email-twitter.png" /></a>
<a href="https://www.linkedin.com/company/activecampaign-inc-"><img src="https://d226aj4ao1t61q.cloudfront.net/y1t0ztxcr_email-linkedin.png" /></a>
<a href="https://plus.google.com/107063868317743606466"><img src="https://d226aj4ao1t61q.cloudfront.net/j14l6ck9n_email-google.png" /></a>
<a href="#"><img src="https://d226aj4ao1t61q.cloudfront.net/9zaenlw7_email-call.png" /></a>
</td>
</tr>
</table>

<style type="text/css">
.removeappleLink a {color: #7b7b7b !important; text-decoration: none;}
</style>
```
EOF
) %>
		</div>
	</div>
</div>