<header>
	<div class="display-wrap">
		<div class="row">
			<div class="col-xs">
				<h1 class="text_color-white">Grid</h1>
				<p class="text_size-6 text_color-ocean--40">
					How elements are sized and spaced plays an important role on how we visually construct our product user interfaces. It allows us to visually apply cohesiveness and structure on how elements are placed within a specific space. This cohesiveness creates a visual consistency throughout all of our products.
				</p>
			</div>
	</div>
</header>
<section>
	<div class="display-wrap">
		<div class="row">
			<div class="col-xs">
				<h5>Intro</h5>
				<p class="text_size-4">
					Our grid system uses a baseline measurement of 4px to compose a grid. All components for web based products align to this baseline grid when being spaced and positioned.  
				</p>
				
			</div>
		</div>
		<div class="row">
			<div class="col-xs">
				<p class="text_size-2 lead-in text_color-lightest">Example Scale</p>
				<%= image_tag("guideline-grid-scale", width: '100%') %>
			</div>
		</div>
		<div class="row pt10">
			<div class="col-xs">
				<p class="text_size-2 lead-in text_color-lightest">Design Example</p>
				<%= image_tag("guideline-grid-example", width: '100%') %>
				<p class="text_size-2 text_color-lighter">Adding appropriate spacing based on the baseline grid of 4px, components can easily be designed and built with consistency and maintain visual clarity.</p>
			</div>
		</div>
	</div>
</section>