<header>
	<div class="display-wrap">
		<div class="row">
			<div class="col-xs">
				<h1 class="text_color-white">Typography</h1>
				<p class="text_size-6 text_color-ocean--40">
					Typography plays an essential role in communication throughout ActiveCampaign's products and marketing material. Each set of fonts both provide a unique set of usages and allow the proper voice to be heard.
				</p>
			</div>
	</div>
</header>
<section>
	<div class="display-wrap">
		<div class="row">
			<div class="col-xs">
				<h5>Font Stack</h5>
					<p class="text_size-4">
						Our primary font stack utilizes two functional type faces in <a href="https://fonts.google.com/specimen/Poppins" title="Poppins typeface" target="_blank">Poppins Bold</a> and <a href="https://fonts.google.com/specimen/IBM+Plex+Sans" title="IBM Plex Sans typeface" target="_blank">IBM Plex Sans</a>. Poppins is a bold, unique font that is used primarily for headings, titles and focal copy. IBM Plex Sans is used for supplementary copy and product copy. 
					</p>
				</div>
		</div>
		<div class="row">
			<div class="col-xs">
				<p class="text_size-5"><strong>Headings</strong></p>
				<div class="example">
					<h2 class="no-margin">Poppins Bold</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs">
				<p class="text_size-5"><strong>Body and inline</strong></p>
				<div class="example">
					<span class="text_size-7">IBM Plex Sans</span>
				</div>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="display-wrap">
		<div class="row">
			<div class="col-xs">
				<h5>Scale</h5>

			</div>
		</div>
	</div>
</section>	
