
<header class="display-wrap pt-0">
	<div class="grid g-cols">
		<div class="g-col-12">
			<h3 class="">Grid</h3>
			<p class="body fs-4 lh-4 slate-100 mb-8">
				How elements are sized and spaced plays an important role on how we visually construct our product user interfaces. It allows us to visually apply cohesiveness and structure on how elements are placed within a specific space. This cohesiveness creates a visual consistency throughout all of our products.
			</p>
		</div>
	</div>
</header>
<section>
	<div class="display-wrap body separator">
		<div class="grid grid-cols">
			<div class="grid-col-12">
				<h5>Spacing</h5>
				<p class="l--fs-4 lh-4 pb-5">
					Our grid system uses a baseline measurement of 4px to compose a grid. All components for web based products align to this baseline grid when being spaced and positioned as seen below.  
				</p>
			</div>
		</div>
		<div class="grid grid-cols">
			<div class="grid-col-12">
				<p class="fs-2 lh-2 fw-700 body tt-upper ls slate-80 mb-8">Example Scale</p>
				<%= image_tag("guideline-grid-scale", width: '100%') %>
			</div>
		</div>
		<div class="grid grid-cols pt-10">
			<div class="grid-col-12">
				<p class="fs-2 lh-2 fw-700 body tt-upper ls slate-80 mb-8">Design Example</p>
				<%= image_tag("guideline-grid-example", width: '100%') %>
				<p class="fs-3 lh-3">Adding appropriate spacing based on the baseline grid of 4px, components can easily be designed and built with consistency and maintain visual clarity.</p>
			</div>
		</div>
	</div>
</section>