/*-- Colors --*/

// Core color palette
$color-palette: (
	ocean: (
		120: #123B99,
		100: #356AE6,
		 80: #5884EA,
		 60: #9EB7F3,
		 40: #E3EBFC,
		 20: #FAFBFF
	),
	slate: (
		120: #1F2129,
		100: #4E5468,
		 80: #5F667E,
		 60: #9298AD,
		 40: #CED3E0,
		 20: #F7F9FF
	),
	mint: (
		120: #139879,
		100: #19CCA3,
		 80: #1BDDB1,
		 60: #6AE6C9,
		 40: #B6F2E4,
		 20: #EBFFFA
	),
	strawberry: (
		120: #D60D46,
		100: #F3376B,
		 80: #F56E94,
		 60: #FAA5BD,
		 40: #FCDEE7,
		 20: #FFF2F6
	),
	creamsicle: (
		120: #E66000,
		100: #FF8730,
		 80: #FFA869,
		 60: #FFBF90,
		 40: #FFE1CB,
		 20: #FFF8F2
	),
	lavender: (
		120: #6F2FED,
		100: #9159FC,
		 80: #AA81FC,
		 60: #C3A7FC,
		 40: #EAE0FE,
		 20: #F7F2FF
	),
	banana: (
		120: #DEAA00,
		100: #FACF3F,
		 80: #FBD965,
		 60: #FCE28B,
		 40: #FDECB2,
		 20: #FFF9E6
	),

);


// Returns color from palette
//
// Usage: color('ocean', 100);
// Returns: #356AE6
@function color($name, $level: 100) {
	$get-color: map-get(map-get($color-palette, $name), $level);

	@return $get-color;
}

// Color backgrounds
.bg-bordered {
  background-color: white;
  border: color(slate, 40) 1px solid;
}
.bg-ocean-20 {
	background-color: color(ocean, 20);
}
.bg-ocean-40 {
	background-color: color(ocean, 40);
}
.bg-ocean-60 {
	background-color: color(ocean, 60);
}
.bg-ocean-80 {
	background-color: color(ocean, 80);
}
.bg-ocean-100 {
	background-color: color(ocean, 100);
}
.bg-ocean-120 {
	background-color: color(ocean, 120);
}
.bg-slate-20 {
	background-color: color(slate, 20);
}
.bg-slate-40 {
	background-color: color(slate, 40);
}
.bg-slate-60 {
	background-color: color(slate, 60);
}
.bg-slate-80 {
	background-color: color(slate, 80);
}
.bg-slate-100 {
	background-color: color(slate, 100);
}
.bg-slate-120 {
	background-color: color(slate, 120);
}
.bg-mint-20 {
	background-color: color(mint, 20);
}
.bg-mint-40 {
	background-color: color(mint, 40);
}
.bg-mint-60 {
	background-color: color(mint, 60);
}
.bg-mint-80 {
	background-color: color(mint, 80);
}
.bg-mint-100 {
	background-color: color(mint, 100);
}
.bg-mint-120 {
	background-color: color(mint, 120);
}
.bg-creamsicle-20 {
	background-color: color(creamsicle, 20);
}
.bg-creamsicle-40 {
	background-color: color(creamsicle, 40);
}
.bg-creamsicle-60 {
	background-color: color(creamsicle, 60);
}
.bg-creamsicle-80 {
	background-color: color(creamsicle, 80);
}
.bg-creamsicle-100 {
	background-color: color(creamsicle, 100);
}
.bg-creamsicle-120 {
	background-color: color(creamsicle, 120);
}
.bg-strawberry-20 {
	background-color: color(strawberry, 20);
}
.bg-strawberry-40 {
	background-color: color(strawberry, 40);
}
.bg-strawberry-60 {
	background-color: color(strawberry, 60);
}
.bg-strawberry-80 {
	background-color: color(strawberry, 80);
}
.bg-strawberry-100 {
	background-color: color(strawberry, 100);
}
.bg-strawberry-120 {
	background-color: color(strawberry, 120);
}
.bg-lavender-120 {
	background-color: color(lavender, 120);
}
.bg-lavender-20 {
	background-color: color(lavender, 20);
}
.bg-lavender-40 {
	background-color: color(lavender, 40);
}
.bg-lavender-60 {
	background-color: color(lavender, 60);
}
.bg-lavender-80 {
	background-color: color(lavender, 80);
}
.bg-lavender-100 {
	background-color: color(lavender, 100);
}
.bg-lavender-120 {
	background-color: color(lavender, 120);
}
.bg-banana-20 {
	background-color: color(banana, 20);
}
.bg-banana-40 {
	background-color: color(banana, 40);
}
.bg-banana-60 {
	background-color: color(banana, 60);
}
.bg-banana-80 {
	background-color: color(banana, 80);
}
.bg-banana-100 {
	background-color: color(banana, 100);
}
.bg-banana-120 {
	background-color: color(banana, 120);
}