/*-- Imports --*/

// Typography

h1 {
	@include title-6;
}
h2 {
	@include title-5;
}
h3 {
	@include title-4;
}
h4 {
	@include title-3;
}
h5 {
	@include title-2;
}
h6 {
	@include title-1;
}


a:link, a:hover, a:visited {
	color: color(ocean, 100);
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

// Lists 
ul, ol {
	padding-left: 0;


	&.style-medium {
		margin-left: 0;
		padding-left: 16px;

		li {
			font-size: 16px;
		}
	}

	&.list-disc {
		padding-left: 20px;
		list-style: disc;
	}
	&.list-numbered {
		padding-left: 20px;
		list-style: numbered;
	}
}


// Extended styles

h4 + p {
	margin-top: -30px;
}
h5 + p {
	margin-top: -30px;
}
p {
	-webkit-margin-before: 8px;
	-webkit-margin-after: 8px;
}
.lead-in + h4 {
	margin-top: 12px;
}


.button_group {
	font-weight: 600;

	a {
		padding: 11px 12px;
		border-radius: 4px;

		&.active {
			background-color: color(ocean, 40);
			color: color(ocean, 120);
			cursor: default;

			&:hover {
				text-decoration: none;
			}
		}
	}
}


/*-- Core layout --*/
html, body {
	overflow-x: hidden;
	background: #fff;
}
header {
	padding: 82px 0 32px 0;

	h1 {
		margin-top: 0;
	}
}
footer { 
	margin-top: 60px;
}

// Main Nav
.navbar {
	position: fixed;
	z-index: 2;
	background-color: color(ocean, 100);
	width: 100%;
	padding: 10px 24px;
	height: 64px;

	nav {
		.logo-top {
			display: block;
		}

		ul {
			display: inline-block;
			margin: 0;
			padding: 0;
			li {
				display: inline-block;

				a {
					color: color(ocean, 20);
					@include body-2;
					font-weight: 700;
					padding: 0 12px;
					opacity: .8;
				}

				&.active a {
					opacity: 1;
				}
			}
			
		}
	}
}
.home .navbar {
	position: relative;
	padding: 40px 0 40px 0;
}

// Sidebar
.sidebar {
	position: relative;
	min-width: 200px !important;
	//max-width: 316px !important;
	border-right: color(ocean, 40) 1px solid;
	z-index: 1;
	background-color: #fff;

	nav {
		margin: 0;
		padding: 100px 24px 24px 24px;
		position: fixed;
		z-index: 0;
		top: 0;
		bottom:0;
		overflow-y: auto;
		left: 0;

		.logo {
			display: block;
			width: 100%;
			margin: 10px 0 40px 0;

			img {
				display: block;
				margin: 0 auto;
				width: 56px;
			}
		}

		ul {
			list-style: none;
			padding: 0;
			margin: 0 0 24px 0;

			li {
				display: block;
				margin-bottom: 4px;

				&.section-heading {
					font-weight: 600;
					letter-spacing: 0.74px;
					text-transform: uppercase;
					@include body-1;
					color: color(slate, 80);
					margin-bottom: 8px;
				}

				a, a:visited {
					font-weight: 600;
					@include body-2;
					text-decoration: none;
					padding: 5px 8px;
					border-radius: 4px;

					&:hover {
		
					}
				}

				&.active a {
					background-color: color(ocean, 40);

					&:hover {
						text-decoration: none;
						cursor: default;
					}
				}
			}
		}
	}
}
footer {
	border-top: color(slate, 20) 1px solid;
	
	color: color(slate, 60);

	.display-wrap {
		padding-top: 28px !important;
		padding-bottom: 20px !important;
	}
}
.display-wrap {
	position: relative;
	padding: 64px 0;
	margin: 0 auto;
	max-width: 960px;

	&.separator {
		border-top: color(slate, 40) 1px solid;
	}
	h5:nth-of-type(1) {
		margin-top: 0;
	}
}
.home .display-wrap {
	padding: 0;
}

// Sectional nav
.section-nav {
	background-color: #fff;
	border-bottom: color(ocean, 40) 1px solid;
	top: 64px;
	position: fixed;
	width: calc(100% - 220px);
	z-index: 5;

	.display-wrap {
		max-width: 960px;
		margin: 0 auto;
		padding: 0px;

		ul {
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				display: inline-block;
				font-weight: 600;
				margin: 0 48px 0 0;

				a {
					display: block;
					padding: 14px 0 14px 0;
				}
			}
		}
	}
	&.sticky {
		

	}
}


/*-- Tables --*/
table {
	&.style1 {
		width: 100%;
		@include body-3;
		border-top: color(slate, 40) 1px solid;

		td {
				padding: 12px;
			}
			tr:first-of-type {
				td {
					padding-top: 16px;
				}
			}
	}
	&.alternating {
		tr:nth-child(2) {

				td {
				background-color: color(slate, 20);
			}
		}
	}
	&.style2 {
		width: 100%;
		border-collapse: collapse;
		tr {

			th {
				padding: 4px 16px;
				background-color: color(slate, 20);
				font-size: 12px;
				font-weight: 600;
				text-transform: uppercase;
				text-align: left;
				border-bottom: color(ocean, 40) 1px solid;
			}
			td {
				border-bottom: color(ocean, 40) 1px solid;
				text-align: left;
				padding: 8px 16px;
			}
		}
	}
}

/*-- Annotations and shit --*/

.annotation {
	position: absolute;
	width: 20px;
	height: 20px;
	font-size: 12px;
	font-weight: bold;
	border-radius: 100%;
	text-align: center;
	color: #fff;
	background-color: color(strawberry, 100);

	&.right {
		&:before {
			width: 30px;
			height: 2px;
			background-color: color(strawberry, 100);
			position: absolute;
			content: " ";
			left: -34px;
			top: 9px;
		}
	}
	&.left {
		&:after {
			width: 30px;
			height: 2px;
			background-color: color(strawberry, 100);
			position: absolute;
			content: " ";
			right: -34px;
			top: 9px;
		}
	}
}

/*-- Input fields --*/
input {
	transition: .2s ease-in;
	position: relative;
	background-color: #fff;

	&.small {
		padding-left: 12px;
	}

	&:focus {
		border-color: color(slate, 100);
		box-shadow: 0 0 0 1px color(slate,100);
		outline: none;
		transition: .2s ease-in;
	}
	&.clean {
		border-color: color(mint, 80);
		box-shadow: 0 0 0 1px color(mint,80);
		background-size: 16px;
		background-image: url(/images/Icon/UI/check.svg);
		background-position: right 12px center;
		background-repeat: no-repeat;

		&:focus {
			border-color: color(mint, 120);
			box-shadow: 0 0 0 1px color(mint,120);
		}
	}
	&.dirty {
		border-color: color(strawberry, 80);
		box-shadow: 0 0 0 1px color(strawberry,80);
		background-size: 16px;
		background-image: url(/images/Icon/UI/alert.svg);
		background-position: right 12px center;
		background-repeat: no-repeat;


		&:focus {
			border-color: color(strawberry, 100);
			box-shadow: 0 0 0 1px color(strawberry,120);
		}
	}

	&.search {
		padding-left: 28px;

		background-size: 16px;
		background-image: url(/images/Icon/UI/magnifying-glass.svg);
		background-position: left 8px center;
		background-repeat: no-repeat;
	}

	&::placeholder {
		color: color(slate, 60);
	}

}

/*-- Buttons --*/
.btn {
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	border-radius: 4px;
	border-style: none;
	line-height: 32px;
	background-color: color(ocean, 100);
	padding: 16px 32px;
	transition: .3s ease-in;
	display: inline-block;
	text-decoration: none;

	&:focus, &:hover {
		background-color: color(ocean, 120);
	}

	&.btn-small {
		padding: 8px 16px;
		font-size: 14px;
		line-height: 24px;
	}

	&.btn-large {
		font-size: 20px;
	}
	&.btn-mint {
		background-color: color(mint, 100);

		&:focus, &:hover {
			background-color: color(mint, 120);
		}
	}
	&.btn-strawberry {
		background-color: color(strawberry, 100);

		&:focus, &:hover {
			background-color: color(strawberry, 120);
		}
	}
}

/*-- Call outs and other shit --*/
.container {
	width: 100%;
	display: inline-block;
	background-color: color(slate, 20);
	padding: 24px;
	border-radius: 8px;
	box-sizing: border-box;

	&.rounded-right {
		border-radius: 0 8px 8px 0;
	}
	&.rounded-left {
		border-radius: 8px 0 0 8px;
	}
	&.bordered {
		background-color: transparent;
		border: color(slate,40) 1px solid;
	}
	&.green-top {
		border-top: color(mint, 100) 16px solid;
	}
	&.red-top {
		border-top: color(strawberry, 100) 16px solid;
	}
	&.padding-large {
		padding: 40px;
	}

}
.note {
	background-color: color(ocean, 40);
	color: color(ocean, 100);
	border-radius: 8px;
	padding: 16px;
	margin-bottom: 40px;
}
.callout {
	border-width: 0 0 0 8px;
	font-weight: 500;

	.icon-xs {
		width: 20px;
		height: 20px;
		float: left;
		margin-top: 4px;
	}
}

.global_message {
	background-color: color(mint, 80);
	text-align: center;
	padding: 6px;

	.emoji {
		display: inline-block;
		vertical-align: sub;
		font-size: 20px;
		padding-right: 12px;
	}
}


/*-- Global Messages / Toasts --*/
.toast {
	position: fixed;
	top: 20px;
	left: 50%;
	margin: 0 auto;
	border-radius: 24px;
	background-color: color(slate, 80);
	color: #fff;
	font-size: 14px;
	font-weight: 800;
	padding: 12px 20px;
	text-align: center;
	box-shadow: 0 7px 11px 0 rgba(0,0,0,0.09);
	z-index: 10;
}

/*-- Utilities and other similar shits --*/

.full-width {
	width: 100%;
}
.float-left {
	float: left;
}
.bordered {
	border: color(slate, 20) 1px solid;
}
.rounded-4 {
	border-radius: 4px;
}
.rounded-8 {
	border-radius: 8px;
}
.rounded-12 {
	border-radius: 12px;
}
.rounded-16 {
	border-radius: 12px;
}
.disabled {
	opacity: .3;
	cursor: not-allowed;
	pointer-events: none;
}
.pill {
	border-radius: 40px;
}



// Images
img.shadow {
	box-shadow: 0 8px 12px 0 rgba(0,0,0,0.1);
}
img.light-border {
	border: color(slate, 40) 1px solid;
}

.rarr {
	border-bottom-color: transparent;
	border-right-color: transparent;
	border-style: solid;
	border-top-color: transparent;
	border-width: .25rem 0 .25rem .25rem;
	content: "";
	display: inline-block;
	height: 0;
	transition: .3s cubic-bezier(.75,0,.25,1.25);
	vertical-align: 1px;
	width: 0;
	position: relative;
	-webkit-transform: translateX(2px);
	transform: translateX(2px);
	will-change: transform;
}

.link:hover > .rarr,
.link:focus > .rarr {
	transform: translateX($spacing-1);
}

// Color peek
.color-peek {
	display: inline-block;
	width: 16px;
	height: 16px;
	border-radius: 4px;

	&.bg-slate-20 {
		border: color(slate, 40) 1px solid;
	}
	&.bg-ocean-20 {
		border: color(ocean, 40) 1px solid;
	}
}

// Breadcrumbs
.breadcrumb {
	color: color(slate, 100);
	@include body-3;
}

// Code
code {
	font-size: 14px;
	padding: 16px !important;
	background-color: color(slate, 120) !important;
}