{{ partial:section_nav }}
<header class="display-wrap pt-0">
	<div class="grid g-cols">
		<div class="g-col-12">
			<h3 class="">{{ title }}</h3>
			<p class="body fs-4 lh-4 slate-100 mb-8">
				{{ description }}
			</p>
		</div>
	</div>
	{{ intro_content }}
</header>
<section id="principles">
	<div class="display-wrap separator">
		<div class="grid g-cols">
			<div class="g-col-12">
				<h5>{{ principles_title }}</h5>
				<p class="body fs-4 lh-4 pb-5">
					{{ principles_description }}
				</p>	
			</div>
		</div>
		{{principles_content}}
	</div>
</section>
<section id="spot-illustrations">
	<div class="display-wrap separator">
		<div class="grid g-cols">
			<div class="g-col-12">
				<h5>{{ spot_title }}</h5>
				<p class="body fs-4 lh-4 pb-5">
					{{ spot_description }}
				</p>	
			</div>
		</div>
		{{spot_content}}
	</div>
</section>
