{{ partial:section_nav }}

<header class="display-wrap pt-0">
	<div class="grid g-cols">
		<div class="g-col-12">
			<h3 class="">{{ title }}</h3>
			<p class="body fs-4 lh-4 slate-100 mb-8">
				{{ description }}
			</p>
		</div>
		{{ color }}

	</div>
</header>
<section id="font-stack">
	<div class="display-wrap separator">
		<div class="grid g-cols">
			<div class="g-col-12">
				<h5>{{ section_title1 }}</h5>
				<p class="body fs-4 lh-4 pb-5">
					{{ section_description1 }}
				</p>	
			</div>
		</div>
		{{section_content1}}
	</div>
</section>
<section id="scale">
	<div class="display-wrap separator">
		<div class="grid g-cols">
			<div class="g-col-12">
				<h5>{{ section_title2 }}</h5>
				<p class="body fs-4 lh-4 pb-5">
					{{ section_description2 }}
				</p>	
			</div>
		</div>
		{{section_content2}}
	</div>
</section>
<section id="weights">
	<div class="display-wrap separator">
		<div class="grid g-cols">
			<div class="g-col-12">
				<h5>{{ section_title3 }}</h5>
				<p class="body fs-4 lh-4 pb-5">
					{{ section_description3 }}
				</p>	
			</div>
		</div>
		{{section_content3}}
	</div>
</section>
<section id="colors">
	<div class="display-wrap separator">
		<div class="grid g-cols">
			<div class="g-col-12">
				<h5>{{ colors_title }}</h5>
				<p class="body fs-4 lh-4 pb-5">
					{{ colors_description }}
				</p>	
			</div>
		</div>
		{{colors_content}}
	</div>
</section>
<section id="styles">
	<div class="display-wrap separator">
		<div class="grid g-cols">
			<div class="g-col-12">
				<h5>{{ section_title4 }}</h5>
				<p class="body fs-4 lh-4 pb-5">
					{{ section_description4 }}
				</p>	
			</div>
		</div>
		{{section_content4}}
	</div>
</section>
<section id="extended-styles">
	<div class="display-wrap separator">
		<div class="grid g-cols">
			<div class="g-col-12">
				<h5>{{ section_title5 }}</h5>
				<p class="body fs-4 lh-4 pb-5">
					{{ section_description5 }}
				</p>	
			</div>
		</div>
		{{section_content5}}
	</div>
</section>
<section id="usage">
	<div class="display-wrap separator">
		<div class="grid g-cols">
			<div class="g-col-12">
				<h5>{{ section_title6 }}</h5>
				<p class="body fs-4 lh-4 pb-5">
					{{ section_description6 }}
				</p>	
			</div>
		</div>
		{{section_content6}}
	</div>
</section>