<%= render "sectionnav" %>
<div class="display-wrap">
	<div class="grid g-cols">
		<div class="g-col-12">
			<h3 class="">Input Fields</h3>
			<p class="body fs-4 lh-4 slate-100 mb-8">
				Input fields are the primary source of user entered data throughout our design system. They are used to collect text within a form to store or to search. 
			</p>
			<%= image_tag "patterns/inputs/sizes", width: "100%" %>
		</div>
	</div>
</div>
<div class="display-wrap separator">
	<section id="labels">
		<div class="grid g-cols">
			<div class="g-col-12">
				<h5 class="">Labels</h5>
				<p class="body fs-4 fs-4 lh-4 slate-100 mb-9">
					When writing input field labels consider what information is required. Labels should always be above the input field and aligned to the left in sentence case. 
				</p>
				<div class="ta-center">
					<%= image_tag "patterns/inputs/labels-guide", width: "526" %>
				</div>
				<ol class="list-numbered fs-4 lh-6 mt-10 mb-6">
					<li>Your label should clearly describe the content needed in your field. Should not contain examples.</li>
					<li>Placeholders are not required but in some cases entice the user to enter information.</li>
					<li>Use examples or helper information to guide the user to enter specific data.</li>
				</ol>
				<div class="p-3 bc-ocean bg-ocean-40 bs-solid br-1 fs-3 callout">
					<strong>Note:</strong> Labels are not required. However, if using an input field alone, consider a descriptive placeholder instead.
				</div>
			</div>
		</div>
	</section>
</div>
<div class="display-wrap separator">
	<section id="feedback">
		<div class="grid g-cols">
			<div class="g-col-12">
				<h5 class="">Feedback</h5>
				<p class="body fs-4 fs-4 lh-4 slate-100 mb-9">
					When a user enters input there are different states of feedback an input field can relay. Each serves a specific purpose with a different look and feel. 
				</p>
			</div>
		</div>
		<div class="grid g-cols">
			<div class="g-col-5">
				<p class="fs-6 fw-700 mb-8">Valid Input</p>
				<input type="text" class="bc-slate-40 bs-solid bw-1 block m-0 body fs-4 lh-6 fw-500 input-reset p-2 br-1 slate-120 w-100 clean" value="testemail@email.com">
				<p class="fs-3 lh-3 mt-4">Use valid input feedback when input is entered that obides by pre-set field requirements.</p>
			</div>
			<div class="g-col-2">&nbsp;</div>
			<div class="g-col-5">
				<p class="fs-6 fw-700 mb-8">Invalid Input</p>
				<input type="text" class="bc-slate-40 bs-solid bw-1 block m-0 body fs-4 lh-6 fw-500 input-reset p-2 br-1 slate-120 w-100 dirty" value="testemailemail.com">
				<p class="fs-3 lh-3 mt-4">Use invalid feedback states when the input does not match up to the requirements set.</p>
			</div>
		</div>
		<div class="grid g-cols mt-8">
			<div class="g-col-5">
				<p class="fs-6 fw-700 mb-8">Invalid with Context</p>
				<input type="text" class="bc-slate-40 bs-solid bw-1 block m-0 body fs-4 lh-6 fw-500 input-reset p-2 br-1 slate-120 w-100 dirty" value="testemailemail.com">
				<p class="fs-3 mt-1 strawberry fw-500">Invalid email address entered</p>
				<p class="fs-3 lh-3 mt-4">Use a feedback message to let the user know the errors in their input entry and how to remedy it.</p>
			</div>
			<div class="g-col-2">&nbsp;</div>
			<div class="g-col-5">
				&nbsp;
			</div>
		</div>
	</section>
</div>
<div class="display-wrap separator">
	<section id="types">
		<div class="grid g-cols">
			<div class="g-col-12">
				<h5 class="">Types</h5>
				<p class="body fs-4 fs-4 lh-4 slate-100 mb-9">
					There are different types of inputs that can be used throughout our design system. Refer to the content below to find an input that fits with your requirements.
				</p>
				<table class="style2 fs-3 lh-3">
					<tr>
						<th width="30%">Input Field</th>
						<th>Usage</th>
					</tr>
					<tr>
						<td><input type="text" class="small bc-slate-40 bs-solid bw-1 block m-0 body fs-3 lh-6 fw-500 input-reset p-1 br-1 slate-120 w-100" placeholder="Enter text..."></td>
						<td>Basic input. Used for acquiring various types of user entered content. </td>
					</tr>
					<tr>
						<td><input type="text" class="small search bc-slate-40 bs-solid bw-1 block m-0 body fs-3 lh-6 fw-500 input-reset p-1 br-1 slate-120 w-100" placeholder="Search for..."></td>
						<td>Search input. Requires magnifying glass icon for identification. Used for searching content via asynchronous methods or via request.</td>
					</tr>
				</table>
			</div>
		</div>
	</section>
</div>
