<header>
	<div class="display-wrap">
		<div class="grid grid-cols">
			<div class="grid-col-12">
				<h1 class="white">Email Signatures</h1>
				<p class="body fs-6 lh-6 ocean-40">
					Using our email signature templates allows us to maintain a consistent brand presence across the company. If you are interacting with many outside the company, this is an important asset. This allows people to see your info and interact with you according. If you are in sales or support, customers can directly schedule a call with you.
				</p>
			</div>
	</div>
</header>
<section>
	<div class="display-wrap">
		<div class="grid grid-cols body">
			<div class="grid-col-12">
				<h5 class="pb-5">Examples</h5>
				<p class="fs-3 lh-3 fw-700 tt-upper ls slate-80 mb-4">Full Signature</p>
				<div class="container bordered pb-5">
					<div>--</div>
					<br/>
					<table style="border-spacing: 0;">
					<tr>
					<td valign="top"><img src="https://d226aj4ao1t61q.cloudfront.net/cy3nisxfd_ac_logo-circle.png" style="margin-right:12px;"/></td>
					<td valign="top">
					<div style="line-height: 1.1em;">
					<div style="font-family:Helvetica, sans-serif;color:#356AE6;font-size: 14px;font-weight:bold;">John Doe</div>
					<div style="font-family:Helvetica, sans-serif;color:#5F667E;font-size: 13px;margin-bottom:6px;">ActiveCampaign / Sales Manager</div>
					<div style="font-family:Helvetica, sans-serif;font-size:13px;color:#5F667E;">(555) 555-5555</div>
					<div style="font-family:Helvetica, sans-serif;font-size:13px;color:#5F667E;">jdoe@activecampaign.com</div>
					<div style="font-family:Helvetica, sans-serif;font-size:13px;color:#5F667E;padding-bottom:6px"><span class="removeappleLink">1 North Dearborn St Suite 500, Chicago IL, 60602</span></div>
					<a href="https://www.facebook.com/activecampaign"><img src="https://d226aj4ao1t61q.cloudfront.net/ys2h3to2m_email-facebook.png" /></a>
					<a href="http://www.twitter.com/activecampaign"><img src="https://d226aj4ao1t61q.cloudfront.net/tc3x0kcsn_email-twitter.png" /></a>
					<a href="https://www.linkedin.com/company/activecampaign-inc-"><img src="https://d226aj4ao1t61q.cloudfront.net/y1t0ztxcr_email-linkedin.png" /></a>
					<a href="https://plus.google.com/107063868317743606466"><img src="https://d226aj4ao1t61q.cloudfront.net/j14l6ck9n_email-google.png" /></a>
					<a href="#"><img src="https://d226aj4ao1t61q.cloudfront.net/9zaenlw7_email-call.png" /></a>
					</td>
					</tr>
					</table>

					<style type="text/css">
					.removeappleLink a {color: #7b7b7b !important; text-decoration: none;}
					</style>
				</div>

<%= raw markdown(<<-'EOF'
```html
<br/>
<br/>
<div>--</div>
<br/>
<table style="border-spacing: 0;">
<tr>
<td valign="top"><img src="https://d226aj4ao1t61q.cloudfront.net/cy3nisxfd_ac_logo-circle.png" style="margin-right:12px;"/></td>
<td valign="top">
<div style="line-height: 1.1em;">
<div style="font-family:Helvetica, sans-serif;color:#356AE6;font-size: 14px;font-weight:bold;">John Doe</div>
<div style="font-family:Helvetica, sans-serif;color:#5F667E;font-size: 13px;margin-bottom:6px;">ActiveCampaign / Sales Manager</div>
<div style="font-family:Helvetica, sans-serif;font-size:13px;color:#5F667E;">(555) 555-5555</div>
<div style="font-family:Helvetica, sans-serif;font-size:13px;color:#5F667E;">jdoe@activecampaign.com</div>
<div style="font-family:Helvetica, sans-serif;font-size:13px;color:#5F667E;padding-bottom:6px"><span class="removeappleLink">1 North Dearborn St Suite 500, Chicago IL, 60602</span></div>
<a href="https://www.facebook.com/activecampaign"><img src="https://d226aj4ao1t61q.cloudfront.net/ys2h3to2m_email-facebook.png" /></a>
<a href="http://www.twitter.com/activecampaign"><img src="https://d226aj4ao1t61q.cloudfront.net/tc3x0kcsn_email-twitter.png" /></a>
<a href="https://www.linkedin.com/company/activecampaign-inc-"><img src="https://d226aj4ao1t61q.cloudfront.net/y1t0ztxcr_email-linkedin.png" /></a>
<a href="https://plus.google.com/107063868317743606466"><img src="https://d226aj4ao1t61q.cloudfront.net/j14l6ck9n_email-google.png" /></a>
<a href="#"><img src="https://d226aj4ao1t61q.cloudfront.net/9zaenlw7_email-call.png" /></a>
</td>
</tr>
</table>

<style type="text/css">
.removeappleLink a {color: #7b7b7b !important; text-decoration: none;}
</style>
```
EOF
) %>

			</div>
		</div>
</section>
<section>
	<div class="display-wrap separator">

		<div class="grid grid-cols body">
			<div class="grid-col-12">
				<h5>How-to</h5>
				<ol class="list-numbered fs-4 lh-6">
					<li>Copy the code into <a href="http://htmledit.squarefree.com/" title="Web HTML editor" target="_blank">this editor</a> to modify, see it visually and re-copy for below.</li>
					<li>Add to preferred email client below:</li>
				</ol>
				<ul class="list-disc l--fs-4 lh-6">
					<li><strong>Apple Mail</strong> See <a href="http://screen.ac/0f1b0d0X2U3J" target="_blank">video</a> for instructions</li>
					<li><strong>Gmail</strong> Using the editor mentioned above, remove the dashes and copy the HTML Version above and add to Gmail settings.</li>
					<li><strong>Apple Mail (iOS)</strong>  Send an email to yourself via a desktop client with your HTML signature in place. Then, follow <a href="https://blog.appriver.com/2016/11/html-email-signatures-added-in-ios-10/" target="_blank">this guide</a>.</li>
				</ul>
			</div>

		</div>
	</div>
</section>