<header>
	<div class="display-wrap">
		<div class="grid grid-cols">
			<div class="grid-col-12">
				<h1 class="white">Glossary</h1>
				<p class="body fs-6 lh-6 ocean-40">
					The ActiveCampaign Glossary is a list of all terms used throughout our marketing material, products, support and internally through tasks and stories. 
				</p>
			</div>
	</div>
</header>
<section>
	<div class="display-wrap body">
		<div class="grid grid-cols">
			<div class="grid-col-12">
				<div class="callout note fs-4 lh-4">
					<strong>Note:</strong> Term capitalization should be consistent across all mediums like support documents and site references. Make sure you use the same capitalization as shown here.
				</div>
				<div class="fs-5 lh-5">
					<table class="style1">
						<% @terms.each do |term| %>
							<tr>
								<td><strong><%= term.name %></strong> - <%= term.description %></td>
							</tr>
						<% end %>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>