<header class="display-wrap pt-0">
	<div class="grid g-cols">
		<div class="g-col-12">
			<h3 class="">Glossary</h3>
			<p class="body fs-4 lh-4 slate-100 mb-8">
				The ActiveCampaign Glossary is a list of all terms used throughout our marketing material, products, support and internally through tasks and stories.
			</p>
		</div>
	</div>
</header>
<section>
	<div class="display-wrap body">
		<div class="grid grid-cols">
			<div class="grid-col-12">
				<div class="p-3 bc-ocean bg-ocean-40 bs-solid br-1 fs-3 lh-3 callout mb-4">
					<strong>Note:</strong> Term capitalization should be consistent across all mediums like support documents and site references. Make sure you use the same capitalization as shown here.
				</div>
				<div class="fs-4 lh-4">
					<table class="style1">
						<% @terms.each do |term| %>
							<tr>
								<td><strong><%= term.name %></strong> - <%= term.description %></td>
							</tr>
						<% end %>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>