/*-- Misc Mixins/Functions --*/


// Returns padding based on level given
// Levels are in multiples of 4
//
// Usage: go-padding(2);
// Returns: 8
@function go-padding($level) {
  $padding: $level * 4;

  @return $padding + px;
}

// Returns margin based on level given
// Levels are in multiples of 4
//
// Usage: go-margin(2);
// Returns: 8
@function go-margin($level) {
  $margin: $level * 4;

  @return $margin + px;
}

/*-- Colors --*/

// Core color palette
$color-palette: (
	ocean: (
		120: #123B99,
		100: #356AE6,
		 80: #5884EA,
		 60: #9EB7F3,
		 40: #E3EBFC,
		 20: #FAFBFF
	),
	slate: (
		120: #1F2129,
		100: #4E5468,
		 80: #5F667E,
		 60: #9298AD,
		 40: #CED3E0,
		 20: #F7F9FF
	),
	mint: (
		120: #139879,
		100: #19CCA3,
		 80: #1BDDB1,
		 60: #6AE6C9,
		 40: #B6F2E4,
		 20: #EBFFFA
	),
	strawberry: (
		120: #D60D46,
		100: #F3376B,
		 80: #F56E94,
		 60: #FAA5BD,
		 40: #FCDEE7,
		 20: #FFF2F6
	),
	creamsicle: (
		120: #E66000,
		100: #FF8730,
		 80: #FFA869,
		 60: #FFBF90,
		 40: #FFE1CB,
		 20: #FFF8F2
	),
	lavender: (
		120: #6F2FED,
		100: #9159FC,
		 80: #AA81FC,
		 60: #C3A7FC,
		 40: #EAE0FE,
		 20: #F7F2FF
	),
	banana: (
		120: #DEAA00,
		100: #FACF3F,
		 80: #FBD965,
		 60: #FCE28B,
		 40: #FDECB2,
		 20: #FFF9E6
	),

);


// Returns color from palette
//
// Usage: color('ocean', 100);
// Returns: #356AE6
@function color($name, $level: 100) {
	$get-color: map-get(map-get($color-palette, $name), $level);

	@return $get-color;
}

// Color backgrounds
.bg-bordered {
  background-color: white;
  border: color(slate, 40) 1px solid;
}
.bg-ocean-20 {
	background-color: color(ocean, 20);
}
.bg-ocean-40 {
	background-color: color(ocean, 40);
}
.bg-ocean-60 {
	background-color: color(ocean, 60);
}
.bg-ocean-80 {
	background-color: color(ocean, 80);
}
.bg-ocean-100 {
	background-color: color(ocean, 100);
}
.bg-ocean-120 {
	background-color: color(ocean, 120);
}
.bg-slate-20 {
	background-color: color(slate, 20);
}
.bg-slate-40 {
	background-color: color(slate, 40);
}
.bg-slate-60 {
	background-color: color(slate, 60);
}
.bg-slate-80 {
	background-color: color(slate, 80);
}
.bg-slate-100 {
	background-color: color(slate, 100);
}
.bg-slate-120 {
	background-color: color(slate, 120);
}
.bg-mint-20 {
	background-color: color(mint, 20);
}
.bg-mint-40 {
	background-color: color(mint, 40);
}
.bg-mint-60 {
	background-color: color(mint, 60);
}
.bg-mint-80 {
	background-color: color(mint, 80);
}
.bg-mint-100 {
	background-color: color(mint, 100);
}
.bg-mint-120 {
	background-color: color(mint, 120);
}
.bg-creamsicle-20 {
	background-color: color(creamsicle, 20);
}
.bg-creamsicle-40 {
	background-color: color(creamsicle, 40);
}
.bg-creamsicle-60 {
	background-color: color(creamsicle, 60);
}
.bg-creamsicle-80 {
	background-color: color(creamsicle, 80);
}
.bg-creamsicle-100 {
	background-color: color(creamsicle, 100);
}
.bg-creamsicle-120 {
	background-color: color(creamsicle, 120);
}
.bg-strawberry-20 {
	background-color: color(strawberry, 20);
}
.bg-strawberry-40 {
	background-color: color(strawberry, 40);
}
.bg-strawberry-60 {
	background-color: color(strawberry, 60);
}
.bg-strawberry-80 {
	background-color: color(strawberry, 80);
}
.bg-strawberry-100 {
	background-color: color(strawberry, 100);
}
.bg-strawberry-120 {
	background-color: color(strawberry, 120);
}
.bg-lavender-120 {
	background-color: color(lavender, 120);
}
.bg-lavender-20 {
	background-color: color(lavender, 20);
}
.bg-lavender-40 {
	background-color: color(lavender, 40);
}
.bg-lavender-60 {
	background-color: color(lavender, 60);
}
.bg-lavender-80 {
	background-color: color(lavender, 80);
}
.bg-lavender-100 {
	background-color: color(lavender, 100);
}
.bg-lavender-120 {
	background-color: color(lavender, 120);
}
.bg-banana-20 {
	background-color: color(banana, 20);
}
.bg-banana-40 {
	background-color: color(banana, 40);
}
.bg-banana-60 {
	background-color: color(banana, 60);
}
.bg-banana-80 {
	background-color: color(banana, 80);
}
.bg-banana-100 {
	background-color: color(banana, 100);
}
.bg-banana-120 {
	background-color: color(banana, 120);
}

/*-- Typography --*/

// Core typefaces
$poppins: 'Poppins', Helvetica, sans-serif;
$ibm-plex: 'IBM Plex Sans', Helvetica, sans-serif;

// Hyperlinks
a, a:visited {
	color: color(ocean, 100);
  text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

// Headings
h1,h2,h3,h4,h5,h6,h7, h8 {
	font-family: $poppins;
}
h1 {
	font-size: 48px;
	line-height: 56px;

  &.super {
    font-size: 60px;
    line-height: 76px;
  }
}
h2 {
	font-size: 44px;
	line-height: 52px;
}
h3 {
	font-size: 40px;
	line-height: 48px;
}
h4 {
	font-size: 36px;
	line-height: 44px;
}
h5 {
	font-size: 32px;
	line-height: 40px;
}
h6 {
	font-size: 28px;
	line-height: 36px;
}

// Body / Paragraph
.text_size-1 {
	font-size: 12px;
	line-height: 16px;
}
.text_size-2 {
	font-size: 14px;
	line-height: 20px;
}
.text_size-3 {
	font-size: 16px;
	line-height: 24px;
}
.text_size-4 {
	font-size: 18px;
	line-height: 28px;
}
.text_size-5 {
	font-size: 20px;
	line-height: 32px;
}
.text_size-6 {
	font-size: 24px;
	line-height: 36px;
}
.text_size-7 {
	font-size: 28px;
	line-height: 40px;
}

// Extended styles
.lead-in {
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

// Modifiers
.text_color-white {
	color: white;
}
.text_color-light {
	color: color(slate, 100);
}
.text_color-lighter {
	color: color(slate, 80);
}
.text_color-lightest {
  color: color(slate, 60);
}
.text_color-ocean--20 {
	color: color(ocean, 20);
}
.text_color-ocean--40 {
	color: color(ocean, 40);
}
.text_color-ocean--100 {
  color: color(ocean, 100);
}
.text_color-ocean--120 {
  color: color(ocean, 120);
}
.text_color-mint {
  color: color(mint, 100);
}
.text_color-strawberry {
  color: color(strawberry, 100);
}
.all-caps {
  text-transform: uppercase;
}
.text-center {
  text-align: center;
}

h5 + p {
	margin-top: -30px;
}
p {
  -webkit-margin-before: 8px;
  -webkit-margin-after: 8px;
}

/*-- Buttons / Selectors --*/
.button {
  display: inline-block;
  font-family: Poppins, sans-serif;
  background: color(ocean, 100);
  color: #fff !important;
  font-weight: bold;
  padding: 11px 12px;
  border-radius: 4px;

  &:hover {
    text-decoration: none;
    background-color: color(ocean, 80);
  }

  &.large {
    padding: 18px 16px 17px 16px;
    font-size: 18px;
    border-radius: 6px;
  }
}
.button_group {
  font-weight: 600;

  a {
    padding: 11px 12px;
    border-radius: 4px;

    &.active {
      background-color: color(ocean, 40);
      color: color(ocean, 120);
      cursor: default;

      &:hover {
        text-decoration: none;
      }
    }
  }
}


/*-- Core layout --*/
html, body {
	font-family: $ibm-plex;
	font-size: 14px;
	font-weight: normal;
	color: color(slate, 120);
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
}
header {
	background-color: color(ocean, 100);
	padding: 32px 0 32px 0;

  h1 {
    margin-top: 0;
  }
}
footer { 
	margin-top: 60px;
}
.sidebar {
  min-width: 280px !important;
  max-width: 280px !important;
  border-right: color(ocean, 40) 1px solid;
}

nav {
	background-color: #fff;
	margin: 0;
  padding: 24px;
  width: 216px;
  position: fixed;

	.logo {
		display: block;
    width: 100%;
    margin: 10px 0 40px 0;

    img {
      display: block;
      margin: 0 auto;
      width: 56px;
    }
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 0 0 24px 0;

		li {
			display: block;

      &.title {
        font-weight: 600;
        letter-spacing: 0.74px;
        text-transform: uppercase;
        font-size: 13px;
        color: color(slate, 80);
        margin-bottom: 8px;
      }

			a, a:visited {
        display: inline-block;
				font-weight: 600;
				font-size: 16px;
				text-decoration: none;
        padding: 6px 8px;
        border-radius: 4px;
        margin-bottom: 4px;

				&:hover {
	
				}
			}

			&.active a {
				background-color: color(ocean, 40);

        &:hover {
          text-decoration: none;
          cursor: default;
        }
			}
		}
	}
}
footer {
	border-top: color(slate, 20) 1px solid;
	
	color: color(slate, 60);

  .display-wrap {
    padding-top: 28px;
    padding-bottom: 20px;
  }
}
.display-wrap {
  position: relative;
	padding: 64px;
	margin: 0 auto;
  max-width: 960px;

  .separator {
    width: 100%;
    height: 1px;
    background-color: color(slate, 40);
    margin-top: 20px;
    margin-bottom: 20px;
  }
}


// Dat Grid be Tight
// Grid

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem;
}

.row {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex: 0 1 auto;
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -1rem;
  margin-left: -1rem;

  &.spacing-medium {
    margin-bottom: 44px;
  }

  &.spacing-large {
    margin-bottom: 64px;
  }
  &.no-wrap {
    flex-wrap: nowrap;
  }
}

.row.reverse {
  -ms-flex-direction: row-reverse;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  flex-direction: row-reverse;
}

.col.reverse {
  -ms-flex-direction: column-reverse;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  flex-direction: column-reverse;
}

.col-xs,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
  box-sizing: border-box;
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

.col-xs {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  max-width: 100%;
}

.col-xs-1 {
  -ms-flex-preferred-size: 8.333%;
  flex-basis: 8.333%;
  max-width: 8.333%;
}

.col-xs-2 {
  -ms-flex-preferred-size: 16.667%;
  flex-basis: 16.667%;
  max-width: 16.667%;
}

.col-xs-3 {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  max-width: 25%;
}

.col-xs-4 {
  -ms-flex-preferred-size: 33.333%;
  flex-basis: 33.333%;
  max-width: 33.333%;
}

.col-xs-5 {
  -ms-flex-preferred-size: 41.667%;
  flex-basis: 41.667%;
  max-width: 41.667%;
}

.col-xs-6 {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%;
}

.col-xs-7 {
  -ms-flex-preferred-size: 58.333%;
  flex-basis: 58.333%;
  max-width: 58.333%;
}

.col-xs-8 {
  -ms-flex-preferred-size: 66.667%;
  flex-basis: 66.667%;
  max-width: 66.667%;
}

.col-xs-9 {
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
  max-width: 75%;
}

.col-xs-10 {
  -ms-flex-preferred-size: 83.333%;
  flex-basis: 83.333%;
  max-width: 83.333%;
}

.col-xs-11 {
  -ms-flex-preferred-size: 91.667%;
  flex-basis: 91.667%;
  max-width: 91.667%;
}

.col-xs-12 {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
}

.col-xs-offset-1 {
  margin-left: 8.333%;
}

.col-xs-offset-2 {
  margin-left: 16.667%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-4 {
  margin-left: 33.333%;
}

.col-xs-offset-5 {
  margin-left: 41.667%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-7 {
  margin-left: 58.333%;
}

.col-xs-offset-8 {
  margin-left: 66.667%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-10 {
  margin-left: 83.333%;
}

.col-xs-offset-11 {
  margin-left: 91.667%;
}

.start-xs {
  -ms-flex-pack: start;
  -webkit-box-pack: start;
  justify-content: flex-start;
  text-align: start;
}

.center-xs {
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
}

.end-xs {
  -ms-flex-pack: end;
  -webkit-box-pack: end;
  justify-content: flex-end;
  text-align: end;
}

.top-xs {
  -ms-flex-align: start;
  -webkit-box-align: start;
  align-items: flex-start;
}

.middle-xs {
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
}

.bottom-xs {
  -ms-flex-align: end;
  -webkit-box-align: end;
  align-items: flex-end;
}

.around-xs {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.between-xs {
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.first-xs {
  -ms-flex-order: -1;
  -webkit-box-ordinal-group: 0;
  order: -1;
}

.last-xs {
  -ms-flex-order: 1;
  -webkit-box-ordinal-group: 2;
  order: 1;
}

@media only screen and (min-width: 48em) {
  .container {
    width: 46rem;
  }

  .col-sm,
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-sm {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }

  .col-sm-1 {
    -ms-flex-preferred-size: 8.333%;
    flex-basis: 8.333%;
    max-width: 8.333%;
  }

  .col-sm-2 {
    -ms-flex-preferred-size: 16.667%;
    flex-basis: 16.667%;
    max-width: 16.667%;
  }

  .col-sm-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-sm-4 {
    -ms-flex-preferred-size: 33.333%;
    flex-basis: 33.333%;
    max-width: 33.333%;
  }

  .col-sm-5 {
    -ms-flex-preferred-size: 41.667%;
    flex-basis: 41.667%;
    max-width: 41.667%;
  }

  .col-sm-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-sm-7 {
    -ms-flex-preferred-size: 58.333%;
    flex-basis: 58.333%;
    max-width: 58.333%;
  }

  .col-sm-8 {
    -ms-flex-preferred-size: 66.667%;
    flex-basis: 66.667%;
    max-width: 66.667%;
  }

  .col-sm-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-sm-10 {
    -ms-flex-preferred-size: 83.333%;
    flex-basis: 83.333%;
    max-width: 83.333%;
  }

  .col-sm-11 {
    -ms-flex-preferred-size: 91.667%;
    flex-basis: 91.667%;
    max-width: 91.667%;
  }

  .col-sm-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }

  .col-sm-offset-1 {
    margin-left: 8.333%;
  }

  .col-sm-offset-2 {
    margin-left: 16.667%;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-offset-4 {
    margin-left: 33.333%;
  }

  .col-sm-offset-5 {
    margin-left: 41.667%;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-offset-7 {
    margin-left: 58.333%;
  }

  .col-sm-offset-8 {
    margin-left: 66.667%;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-offset-10 {
    margin-left: 83.333%;
  }

  .col-sm-offset-11 {
    margin-left: 91.667%;
  }

  .start-sm {
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  .center-sm {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
  }

  .end-sm {
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  .top-sm {
    -ms-flex-align: start;
    -webkit-box-align: start;
    align-items: flex-start;
  }

  .middle-sm {
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
  }

  .bottom-sm {
    -ms-flex-align: end;
    -webkit-box-align: end;
    align-items: flex-end;
  }

  .around-sm {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .between-sm {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }

  .first-sm {
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
    order: -1;
  }

  .last-sm {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1;
  }
}

@media only screen and (min-width: 62em) {
  .container {
    width: 61rem;
  }

  .col-md,
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-md {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }

  .col-md-1 {
    -ms-flex-preferred-size: 8.333%;
    flex-basis: 8.333%;
    max-width: 8.333%;
  }

  .col-md-2 {
    -ms-flex-preferred-size: 16.667%;
    flex-basis: 16.667%;
    max-width: 16.667%;
  }

  .col-md-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-md-4 {
    -ms-flex-preferred-size: 33.333%;
    flex-basis: 33.333%;
    max-width: 33.333%;
  }

  .col-md-5 {
    -ms-flex-preferred-size: 41.667%;
    flex-basis: 41.667%;
    max-width: 41.667%;
  }

  .col-md-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-md-7 {
    -ms-flex-preferred-size: 58.333%;
    flex-basis: 58.333%;
    max-width: 58.333%;
  }

  .col-md-8 {
    -ms-flex-preferred-size: 66.667%;
    flex-basis: 66.667%;
    max-width: 66.667%;
  }

  .col-md-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-md-10 {
    -ms-flex-preferred-size: 83.333%;
    flex-basis: 83.333%;
    max-width: 83.333%;
  }

  .col-md-11 {
    -ms-flex-preferred-size: 91.667%;
    flex-basis: 91.667%;
    max-width: 91.667%;
  }

  .col-md-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }

  .col-md-offset-1 {
    margin-left: 8.333%;
  }

  .col-md-offset-2 {
    margin-left: 16.667%;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-offset-4 {
    margin-left: 33.333%;
  }

  .col-md-offset-5 {
    margin-left: 41.667%;
  }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-offset-7 {
    margin-left: 58.333%;
  }

  .col-md-offset-8 {
    margin-left: 66.667%;
  }

  .col-md-offset-9 {
    margin-left: 75%;
  }

  .col-md-offset-10 {
    margin-left: 83.333%;
  }

  .col-md-offset-11 {
    margin-left: 91.667%;
  }

  .start-md {
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  .center-md {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
  }

  .end-md {
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  .top-md {
    -ms-flex-align: start;
    -webkit-box-align: start;
    align-items: flex-start;
  }

  .middle-md {
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
  }

  .bottom-md {
    -ms-flex-align: end;
    -webkit-box-align: end;
    align-items: flex-end;
  }

  .around-md {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .between-md {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }

  .first-md {
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
    order: -1;
  }

  .last-md {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1;
  }
}

@media only screen and (min-width: 75em) {
  .container {
    width: 71rem;
  }

  .col-lg,
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12 {
    box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-lg {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }

  .col-lg-1 {
    -ms-flex-preferred-size: 8.333%;
    flex-basis: 8.333%;
    max-width: 8.333%;
  }

  .col-lg-2 {
    -ms-flex-preferred-size: 16.667%;
    flex-basis: 16.667%;
    max-width: 16.667%;
  }

  .col-lg-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-lg-4 {
    -ms-flex-preferred-size: 33.333%;
    flex-basis: 33.333%;
    max-width: 33.333%;
  }

  .col-lg-5 {
    -ms-flex-preferred-size: 41.667%;
    flex-basis: 41.667%;
    max-width: 41.667%;
  }

  .col-lg-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-lg-7 {
    -ms-flex-preferred-size: 58.333%;
    flex-basis: 58.333%;
    max-width: 58.333%;
  }

  .col-lg-8 {
    -ms-flex-preferred-size: 66.667%;
    flex-basis: 66.667%;
    max-width: 66.667%;
  }

  .col-lg-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-lg-10 {
    -ms-flex-preferred-size: 83.333%;
    flex-basis: 83.333%;
    max-width: 83.333%;
  }

  .col-lg-11 {
    -ms-flex-preferred-size: 91.667%;
    flex-basis: 91.667%;
    max-width: 91.667%;
  }

  .col-lg-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }

  .col-lg-offset-1 {
    margin-left: 8.333%;
  }

  .col-lg-offset-2 {
    margin-left: 16.667%;
  }

  .col-lg-offset-3 {
    margin-left: 25%;
  }

  .col-lg-offset-4 {
    margin-left: 33.333%;
  }

  .col-lg-offset-5 {
    margin-left: 41.667%;
  }

  .col-lg-offset-6 {
    margin-left: 50%;
  }

  .col-lg-offset-7 {
    margin-left: 58.333%;
  }

  .col-lg-offset-8 {
    margin-left: 66.667%;
  }

  .col-lg-offset-9 {
    margin-left: 75%;
  }

  .col-lg-offset-10 {
    margin-left: 83.333%;
  }

  .col-lg-offset-11 {
    margin-left: 91.667%;
  }

  .start-lg {
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  .center-lg {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
  }

  .end-lg {
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  .top-lg {
    -ms-flex-align: start;
    -webkit-box-align: start;
    align-items: flex-start;
  }

  .middle-lg {
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
  }

  .bottom-lg {
    -ms-flex-align: end;
    -webkit-box-align: end;
    align-items: flex-end;
  }

  .around-lg {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .between-lg {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }

  .first-lg {
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
    order: -1;
  }

  .last-lg {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1;
  }
}

/*-- Tables --*/
table {
  &.style1 {
    width: 100%;
    font-size: 16px;
    border-top: color(slate, 40) 1px solid;
      td {
        padding: 12px;
      }
      tr:first-of-type {
        td {
          padding-top: 16px;
        }
      }
    }
    &.alternating {
      tr:nth-child(2) {

          td {
          background-color: color(slate, 20);
        }

      }
    }
}

/*-- Call outs and other shit --*/
.container {
  width: 100%;
	display: inline-block;
	background-color: color(slate, 20);
	padding: 24px;
	border-radius: 16px;
  box-sizing: border-box;

  &.bordered {
    background-color: transparent;
    border: color(slate,40) 1px solid;
  }
  &.green-top {
    border-top: color(mint, 100) 16px solid;
  }
  &.red-top {
    border-top: color(strawberry, 100) 16px solid;
  }
}
.note {
	background-color: color(ocean, 40);
	color: color(ocean, 100);
	border-radius: 8px;
	padding: 16px;
  margin-bottom: 40px;
}

.global_message {
	background-color: color(mint, 80);
	text-align: center;
	padding: 6px;

	.emoji {
		display: inline-block;
		vertical-align: sub;
		font-size: 20px;
		padding-right: 12px;
	}
}


/*-- Global Messages / Toasts --*/
.toast {
  position: fixed;
  top: 20px;
  left: 50%;
  margin: 0 auto;
  border-radius: 20px;
  background-color: color(slate, 80);
  color: #fff;
  font-size: 14px;
  font-weight: 800;
  padding: 12px 20px;
  text-align: center;
  box-shadow: 0 7px 11px 0 rgba(0,0,0,0.09);
  z-index: 1;
}

/*-- Utilities and other similar shits --*/

.full-width {
  width: 100%;
}
.float-left {
  float: left;
}

// Padding/Margins
.pr1 {
  padding-right: go-padding(1);
}
.pr2 {
  padding-right: go-padding(2);
}
.pr3 {
  padding-right: go-padding(3);
}
.pr4 {
  padding-right: go-padding(4);
}
.pr5 {
  padding-right: go-padding(5);
}
.pl1 {
  padding-left: go-padding(1);
}
.pl2 {
  padding-left: go-padding(2);
}
.pl3 {
  padding-left: go-padding(3);
}
.pl4 {
  padding-left: go-padding(4);
}
.pl5 {
  padding-left: go-padding(5);
}
.pt1 {
  padding-top: go-padding(1);
}
.pt2 {
  padding-top: go-padding(2);
}
.pt3 {
  padding-top: go-padding(3);
}
.pt4 {
  padding-top: go-padding(4);
}
.pt5 {
  padding-top: go-padding(5);
}
.pt6 {
  padding-top: go-padding(6);
}
.pt7 {
  padding-top: go-padding(7);
}
.pt8 {
  padding-top: go-padding(8);
}
.pt9 {
  padding-top: go-padding(9);
}
.pt10 {
  padding-top: go-padding(10);
}
.pt11 {
  padding-top: go-padding(11);
}
.pt12 {
  padding-top: go-padding(12);
}
.pt20 {
  padding-top: go-padding(20);
}
.pb1 {
  padding-bottom: go-padding(1);
}
.pb2 {
  padding-bottom: go-padding(2);
}
.pb3 {
  padding-bottom: go-padding(3);
}
.pb4 {
  padding-bottom: go-padding(4);
}
.pb5 {
  padding-bottom: go-padding(5);
}
.pb10 {
  padding-bottom: go-padding(10);
}
.mt5 {
  margin-top: go-margin(5);
}

.no-margin {
  margin: 0;
}
.no-top-margin {
  margin-top: 0;
}
.no-bottom-margin {
  margin-bottom: 0;
}
.no-padding {
  padding: 0;
}
.no-right-padding {
  padding-right: 0;
}

// Images
img.shadow {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.1);
}
img.light-border {
  border: color(slate, 40) 1px solid;
}


