/*-- Imports --*/
@import "colors";

// Typography

h1 {
  @include title-6;
}
h2 {
  @include title-5;
}
h3 {
  @include title-4;
}
h4 {
  @include title-3;
}
h5 {
  @include title-2;
}
h6 {
  @include title-1;
}


a:link, a:hover, a:visited {
  color: color(ocean, 100);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

// Lists 
ul, ol {
  li {
    margin-bottom: 12px;
  }

  &.style-medium {
    margin-left: 0;
    padding-left: 16px;

    li {
      font-size: 16px;
    }
  }
}


// Extended styles
.lead-in {
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h4 + p {
  margin-top: -30px;
}
h5 + p {
	margin-top: -30px;
}
p {
  -webkit-margin-before: 8px;
  -webkit-margin-after: 8px;
}
.lead-in + h4 {
  margin-top: 12px;
}


.button_group {
  font-weight: 600;

  a {
    padding: 11px 12px;
    border-radius: 4px;

    &.active {
      background-color: color(ocean, 40);
      color: color(ocean, 120);
      cursor: default;

      &:hover {
        text-decoration: none;
      }
    }
  }
}


/*-- Core layout --*/
html, body {
	font-family: $body;
	font-size: 14px;
  line-height: 20px;
	font-weight: normal;
	color: color(slate, 120);
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
}
header {
	background-color: color(ocean, 100);
	padding: 32px 0 32px 0;

  h1 {
    margin-top: 0;
  }
}
footer { 
	margin-top: 60px;
}
.sidebar {
  min-width: 280px !important;
  max-width: 280px !important;
  border-right: color(ocean, 40) 1px solid;
}

nav {
	background-color: #fff;
	margin: 0;
  padding: 24px;
  width: 216px;
  position: fixed;

	.logo {
		display: block;
    width: 100%;
    margin: 10px 0 40px 0;

    img {
      display: block;
      margin: 0 auto;
      width: 56px;
    }
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 0 0 24px 0;

		li {
			display: block;
      margin-bottom: 0;

      &.title {
        font-weight: 600;
        letter-spacing: 0.74px;
        text-transform: uppercase;
        font-size: 13px;
        color: color(slate, 80);
        margin-bottom: 8px;
      }

			a, a:visited {
        display: inline-block;
				font-weight: 600;
				font-size: 16px;
				text-decoration: none;
        padding: 6px 8px;
        border-radius: 4px;
        margin-bottom: 4px;

				&:hover {
	
				}
			}

			&.active a {
				background-color: color(ocean, 40);

        &:hover {
          text-decoration: none;
          cursor: default;
        }
			}
		}
	}
}
footer {
	border-top: color(slate, 20) 1px solid;
	
	color: color(slate, 60);

  .display-wrap {
    padding-top: 28px;
    padding-bottom: 20px;
  }
}
.display-wrap {
  position: relative;
	padding: 64px;
	margin: 0 auto;
  max-width: 960px;

  &.separator {
    border-top: color(slate, 40) 1px solid;
  }
  h5:nth-of-type(1) {
    margin-top: 0;
  }
}

// Sectional nav
.section-nav {
  width: 100%;
  background-color: #fff;
  border-bottom: color(ocean, 40) 1px solid;

  .nav-wrapper {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 64px;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        font-weight: 600;
        margin: 0 48px 0 0;

        a {
          display: block;
          padding: 18px 0 18px 0;
        }
      }
    }
  }
  &.sticky {
    top: 0;
    position: fixed;
    width: calc(100% - 252px);
    z-index: 5;

  }
}

// Dat Grid be Tight
// Grid

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem;
}

.row {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex: 0 1 auto;
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -1rem;
  margin-left: -1rem;

  &.spacing-medium {
    margin-bottom: 44px;
  }

  &.spacing-large {
    margin-bottom: 64px;
  }
  &.no-wrap {
    flex-wrap: nowrap;
  }
}

.row.reverse {
  -ms-flex-direction: row-reverse;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  flex-direction: row-reverse;
}

.col.reverse {
  -ms-flex-direction: column-reverse;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  flex-direction: column-reverse;
}

.col-xs,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
  box-sizing: border-box;
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

.col-xs {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  max-width: 100%;
}

.col-xs-1 {
  -ms-flex-preferred-size: 8.333%;
  flex-basis: 8.333%;
  max-width: 8.333%;
}

.col-xs-2 {
  -ms-flex-preferred-size: 16.667%;
  flex-basis: 16.667%;
  max-width: 16.667%;
}

.col-xs-3 {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  max-width: 25%;
}

.col-xs-4 {
  -ms-flex-preferred-size: 33.333%;
  flex-basis: 33.333%;
  max-width: 33.333%;
}

.col-xs-5 {
  -ms-flex-preferred-size: 41.667%;
  flex-basis: 41.667%;
  max-width: 41.667%;
}

.col-xs-6 {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%;
}

.col-xs-7 {
  -ms-flex-preferred-size: 58.333%;
  flex-basis: 58.333%;
  max-width: 58.333%;
}

.col-xs-8 {
  -ms-flex-preferred-size: 66.667%;
  flex-basis: 66.667%;
  max-width: 66.667%;
}

.col-xs-9 {
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
  max-width: 75%;
}

.col-xs-10 {
  -ms-flex-preferred-size: 83.333%;
  flex-basis: 83.333%;
  max-width: 83.333%;
}

.col-xs-11 {
  -ms-flex-preferred-size: 91.667%;
  flex-basis: 91.667%;
  max-width: 91.667%;
}

.col-xs-12 {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
}

.col-xs-offset-1 {
  margin-left: 8.333%;
}

.col-xs-offset-2 {
  margin-left: 16.667%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-4 {
  margin-left: 33.333%;
}

.col-xs-offset-5 {
  margin-left: 41.667%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-7 {
  margin-left: 58.333%;
}

.col-xs-offset-8 {
  margin-left: 66.667%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-10 {
  margin-left: 83.333%;
}

.col-xs-offset-11 {
  margin-left: 91.667%;
}

.start-xs {
  -ms-flex-pack: start;
  -webkit-box-pack: start;
  justify-content: flex-start;
  text-align: start;
}

.center-xs {
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
}

.end-xs {
  -ms-flex-pack: end;
  -webkit-box-pack: end;
  justify-content: flex-end;
  text-align: end;
}

.top-xs {
  -ms-flex-align: start;
  -webkit-box-align: start;
  align-items: flex-start;
}

.middle-xs {
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
}

.bottom-xs {
  -ms-flex-align: end;
  -webkit-box-align: end;
  align-items: flex-end;
}

.around-xs {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.between-xs {
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.first-xs {
  -ms-flex-order: -1;
  -webkit-box-ordinal-group: 0;
  order: -1;
}

.last-xs {
  -ms-flex-order: 1;
  -webkit-box-ordinal-group: 2;
  order: 1;
}

@media only screen and (min-width: 48em) {
  .container {
    width: 46rem;
  }

  .col-sm,
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-sm {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }

  .col-sm-1 {
    -ms-flex-preferred-size: 8.333%;
    flex-basis: 8.333%;
    max-width: 8.333%;
  }

  .col-sm-2 {
    -ms-flex-preferred-size: 16.667%;
    flex-basis: 16.667%;
    max-width: 16.667%;
  }

  .col-sm-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-sm-4 {
    -ms-flex-preferred-size: 33.333%;
    flex-basis: 33.333%;
    max-width: 33.333%;
  }

  .col-sm-5 {
    -ms-flex-preferred-size: 41.667%;
    flex-basis: 41.667%;
    max-width: 41.667%;
  }

  .col-sm-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-sm-7 {
    -ms-flex-preferred-size: 58.333%;
    flex-basis: 58.333%;
    max-width: 58.333%;
  }

  .col-sm-8 {
    -ms-flex-preferred-size: 66.667%;
    flex-basis: 66.667%;
    max-width: 66.667%;
  }

  .col-sm-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-sm-10 {
    -ms-flex-preferred-size: 83.333%;
    flex-basis: 83.333%;
    max-width: 83.333%;
  }

  .col-sm-11 {
    -ms-flex-preferred-size: 91.667%;
    flex-basis: 91.667%;
    max-width: 91.667%;
  }

  .col-sm-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }

  .col-sm-offset-1 {
    margin-left: 8.333%;
  }

  .col-sm-offset-2 {
    margin-left: 16.667%;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-offset-4 {
    margin-left: 33.333%;
  }

  .col-sm-offset-5 {
    margin-left: 41.667%;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-offset-7 {
    margin-left: 58.333%;
  }

  .col-sm-offset-8 {
    margin-left: 66.667%;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-offset-10 {
    margin-left: 83.333%;
  }

  .col-sm-offset-11 {
    margin-left: 91.667%;
  }

  .start-sm {
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  .center-sm {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
  }

  .end-sm {
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  .top-sm {
    -ms-flex-align: start;
    -webkit-box-align: start;
    align-items: flex-start;
  }

  .middle-sm {
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
  }

  .bottom-sm {
    -ms-flex-align: end;
    -webkit-box-align: end;
    align-items: flex-end;
  }

  .around-sm {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .between-sm {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }

  .first-sm {
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
    order: -1;
  }

  .last-sm {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1;
  }
}

@media only screen and (min-width: 62em) {
  .container {
    width: 61rem;
  }

  .col-md,
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-md {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }

  .col-md-1 {
    -ms-flex-preferred-size: 8.333%;
    flex-basis: 8.333%;
    max-width: 8.333%;
  }

  .col-md-2 {
    -ms-flex-preferred-size: 16.667%;
    flex-basis: 16.667%;
    max-width: 16.667%;
  }

  .col-md-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-md-4 {
    -ms-flex-preferred-size: 33.333%;
    flex-basis: 33.333%;
    max-width: 33.333%;
  }

  .col-md-5 {
    -ms-flex-preferred-size: 41.667%;
    flex-basis: 41.667%;
    max-width: 41.667%;
  }

  .col-md-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-md-7 {
    -ms-flex-preferred-size: 58.333%;
    flex-basis: 58.333%;
    max-width: 58.333%;
  }

  .col-md-8 {
    -ms-flex-preferred-size: 66.667%;
    flex-basis: 66.667%;
    max-width: 66.667%;
  }

  .col-md-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-md-10 {
    -ms-flex-preferred-size: 83.333%;
    flex-basis: 83.333%;
    max-width: 83.333%;
  }

  .col-md-11 {
    -ms-flex-preferred-size: 91.667%;
    flex-basis: 91.667%;
    max-width: 91.667%;
  }

  .col-md-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }

  .col-md-offset-1 {
    margin-left: 8.333%;
  }

  .col-md-offset-2 {
    margin-left: 16.667%;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-offset-4 {
    margin-left: 33.333%;
  }

  .col-md-offset-5 {
    margin-left: 41.667%;
  }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-offset-7 {
    margin-left: 58.333%;
  }

  .col-md-offset-8 {
    margin-left: 66.667%;
  }

  .col-md-offset-9 {
    margin-left: 75%;
  }

  .col-md-offset-10 {
    margin-left: 83.333%;
  }

  .col-md-offset-11 {
    margin-left: 91.667%;
  }

  .start-md {
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  .center-md {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
  }

  .end-md {
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  .top-md {
    -ms-flex-align: start;
    -webkit-box-align: start;
    align-items: flex-start;
  }

  .middle-md {
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
  }

  .bottom-md {
    -ms-flex-align: end;
    -webkit-box-align: end;
    align-items: flex-end;
  }

  .around-md {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .between-md {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }

  .first-md {
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
    order: -1;
  }

  .last-md {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1;
  }
}

@media only screen and (min-width: 75em) {
  .container {
    width: 71rem;
  }

  .col-lg,
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12 {
    box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-lg {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }

  .col-lg-1 {
    -ms-flex-preferred-size: 8.333%;
    flex-basis: 8.333%;
    max-width: 8.333%;
  }

  .col-lg-2 {
    -ms-flex-preferred-size: 16.667%;
    flex-basis: 16.667%;
    max-width: 16.667%;
  }

  .col-lg-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-lg-4 {
    -ms-flex-preferred-size: 33.333%;
    flex-basis: 33.333%;
    max-width: 33.333%;
  }

  .col-lg-5 {
    -ms-flex-preferred-size: 41.667%;
    flex-basis: 41.667%;
    max-width: 41.667%;
  }

  .col-lg-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-lg-7 {
    -ms-flex-preferred-size: 58.333%;
    flex-basis: 58.333%;
    max-width: 58.333%;
  }

  .col-lg-8 {
    -ms-flex-preferred-size: 66.667%;
    flex-basis: 66.667%;
    max-width: 66.667%;
  }

  .col-lg-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-lg-10 {
    -ms-flex-preferred-size: 83.333%;
    flex-basis: 83.333%;
    max-width: 83.333%;
  }

  .col-lg-11 {
    -ms-flex-preferred-size: 91.667%;
    flex-basis: 91.667%;
    max-width: 91.667%;
  }

  .col-lg-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }

  .col-lg-offset-1 {
    margin-left: 8.333%;
  }

  .col-lg-offset-2 {
    margin-left: 16.667%;
  }

  .col-lg-offset-3 {
    margin-left: 25%;
  }

  .col-lg-offset-4 {
    margin-left: 33.333%;
  }

  .col-lg-offset-5 {
    margin-left: 41.667%;
  }

  .col-lg-offset-6 {
    margin-left: 50%;
  }

  .col-lg-offset-7 {
    margin-left: 58.333%;
  }

  .col-lg-offset-8 {
    margin-left: 66.667%;
  }

  .col-lg-offset-9 {
    margin-left: 75%;
  }

  .col-lg-offset-10 {
    margin-left: 83.333%;
  }

  .col-lg-offset-11 {
    margin-left: 91.667%;
  }

  .start-lg {
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  .center-lg {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
  }

  .end-lg {
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  .top-lg {
    -ms-flex-align: start;
    -webkit-box-align: start;
    align-items: flex-start;
  }

  .middle-lg {
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
  }

  .bottom-lg {
    -ms-flex-align: end;
    -webkit-box-align: end;
    align-items: flex-end;
  }

  .around-lg {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .between-lg {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }

  .first-lg {
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
    order: -1;
  }

  .last-lg {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1;
  }
}

/*-- Tables --*/
table {
  &.style1 {
    width: 100%;
    font-size: 16px;
    border-top: color(slate, 40) 1px solid;
      td {
        padding: 12px;
      }
      tr:first-of-type {
        td {
          padding-top: 16px;
        }
      }
    }
  &.alternating {
    tr:nth-child(2) {

        td {
        background-color: color(slate, 20);
      }
    }
  }
  &.style2 {
    width: 100%;
    border-collapse: collapse;
    tr {

      th {
        padding: 4px 16px;
        background-color: color(slate, 20);
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
        text-align: left;
        border-bottom: color(ocean, 40) 1px solid;
      }
      td {
        border-bottom: color(ocean, 40) 1px solid;
        text-align: left;
        padding: 12px 16px;
      }
    }
  }
}

/*-- Annotations --*/

.annotation {
  position: absolute;
  width: 20px;
  height: 20px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 100%;
  text-align: center;
  color: #fff;
  background-color: color(strawberry, 100);

  &.right {
    &:before {
      width: 30px;
      height: 2px;
      background-color: color(strawberry, 100);
      position: absolute;
      content: " ";
      left: -34px;
      top: 9px;
    }
  }
  &.left {
    &:after {
      width: 30px;
      height: 2px;
      background-color: color(strawberry, 100);
      position: absolute;
      content: " ";
      right: -34px;
      top: 9px;
    }
  }
}

/*-- Call outs and other shit --*/
.container {
  width: 100%;
	display: inline-block;
	background-color: color(slate, 20);
	padding: 24px;
	border-radius: 10px;
  box-sizing: border-box;

  &.bordered {
    background-color: transparent;
    border: color(slate,40) 1px solid;
  }
  &.green-top {
    border-top: color(mint, 100) 16px solid;
  }
  &.red-top {
    border-top: color(strawberry, 100) 16px solid;
  }
  &.padding-large {
    padding: 40px;
  }

}
.note {
	background-color: color(ocean, 40);
	color: color(ocean, 100);
	border-radius: 8px;
	padding: 16px;
  margin-bottom: 40px;
}

.global_message {
	background-color: color(mint, 80);
	text-align: center;
	padding: 6px;

	.emoji {
		display: inline-block;
		vertical-align: sub;
		font-size: 20px;
		padding-right: 12px;
	}
}


/*-- Global Messages / Toasts --*/
.toast {
  position: fixed;
  top: 20px;
  left: 50%;
  margin: 0 auto;
  border-radius: 20px;
  background-color: color(slate, 80);
  color: #fff;
  font-size: 14px;
  font-weight: 800;
  padding: 12px 20px;
  text-align: center;
  box-shadow: 0 7px 11px 0 rgba(0,0,0,0.09);
  z-index: 1;
}

/*-- Utilities and other similar shits --*/

.full-width {
  width: 100%;
}
.float-left {
  float: left;
}

// Padding/Margins
.pr1 {
  padding-right: go-padding(1);
}
.pr2 {
  padding-right: go-padding(2);
}
.pr3 {
  padding-right: go-padding(3);
}
.pr4 {
  padding-right: go-padding(4);
}
.pr5 {
  padding-right: go-padding(5);
}
.pl1 {
  padding-left: go-padding(1);
}
.pl2 {
  padding-left: go-padding(2);
}
.pl3 {
  padding-left: go-padding(3);
}
.pl4 {
  padding-left: go-padding(4);
}
.pl5 {
  padding-left: go-padding(5);
}
.pt1 {
  padding-top: go-padding(1);
}
.pt2 {
  padding-top: go-padding(2);
}
.pt3 {
  padding-top: go-padding(3);
}
.pt4 {
  padding-top: go-padding(4);
}
.pt5 {
  padding-top: go-padding(5);
}
.pt6 {
  padding-top: go-padding(6);
}
.pt7 {
  padding-top: go-padding(7);
}
.pt8 {
  padding-top: go-padding(8);
}
.pt9 {
  padding-top: go-padding(9);
}
.pt10 {
  padding-top: go-padding(10);
}
.pt11 {
  padding-top: go-padding(11);
}
.pt12 {
  padding-top: go-padding(12);
}
.pt20 {
  padding-top: go-padding(20);
}
.pb1 {
  padding-bottom: go-padding(1);
}
.pb2 {
  padding-bottom: go-padding(2);
}
.pb3 {
  padding-bottom: go-padding(3);
}
.pb4 {
  padding-bottom: go-padding(4);
}
.pb5 {
  padding-bottom: go-padding(5);
}
.pb10 {
  padding-bottom: go-padding(10);
}
.mt5 {
  margin-top: go-margin(5);
}

.no-margin {
  margin: 0;
}
.no-top-margin {
  margin-top: 0;
}
.no-bottom-margin {
  margin-bottom: 0;
}
.no-padding {
  padding: 0;
}
.no-right-padding {
  padding-right: 0;
}

// Images
img.shadow {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.1);
}
img.light-border {
  border: color(slate, 40) 1px solid;
}


