/*-- Typography /typography --*/

#typography-scale {
	tr {
		td {
			padding-bottom: 20px;
			padding-right: 20px; 
		}
	}
	h1,h2,h3,h4,h5,h6 {
		margin: 0;
	}
}


/*-- Colors /colors --*/
.color-palettes {

	.palette {
		padding: 12px;
		min-width: 200px;

		.swatch {
			height: 16px;
			padding: 16px;

			.level {
				float: right;
			}

			&.main {
				height: 138px;
				border-radius: 12px 12px 0 0;
			}
			&.last {
				border-radius: 0 0 12px 12px;
			}
		}
	}
}
