<footer>
	<div class="display-wrap">
		<div class="row">
			<div class="col-xs-10">
				ActiveCampaign Style Guide
			</div>
			<div class="col-xs-2">
				<%= link_to "Change Log", "/changes" %>
			</div>
		</div>
	</div>
</footer>