<div class="l--g-col-2 sidebar">
	<nav>
		<ul>
			<li class="section-heading">Marketing</li>
			<li class="<%= active_class('/marketing/webpatterns') %>"><%= link_to "Web Patterns", "/marketing/webpatterns" %></li>
		</ul>
	</nav>
</div>